@font-face {
	font-family: "Inter";
	src: local("Inter"), local("Inter Regular"), url("../fonts/Inter-R.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Bold"), url("../fonts/Inter-B.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Italic"), url("../fonts/Inter-I.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Inter";
	src: local("Inter Bold Italic"), url("../fonts/Inter-BI.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: optional;
}
@font-face {
	font-family: "Inter-fallback-linux";
	src: local("Liberation Sans");
}
@font-face {
	font-family: "Inter-fallback";
	src: local("Arial");
}
@font-face {
	font-family: "Norse";
	src: url("../fonts/Norse-R.woff2");
	font-weight: normal;
	font-style: normal;
	font-display: optional;
}
@font-face {
	font-family: "Norse";
	src: url("../fonts/Norse-B.woff2");
	font-weight: bold;
	font-style: normal;
	font-display: optional;
}
img {
	block-size: auto;
	height: auto;

	object-fit: contain;
}
p {
	min-width: min-content;
}
* {
	outline: 1px solid black;
}
body {
	display: flex;
	
	background-color: #192a32;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.container {
	padding: 2rem;
	display: grid;
	min-width: 0;
	grid-template-columns: repeat(3, min(8rem, 30vw));
	font-size: 1rem;
	color: white;
	align-content: center;
	gap: 1rem;
}
.icon{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 0.3rem;
}
.icon img{
	height: 80%;
	padding: 0 0.2em ;
	width: min-content;
}
.turn .front{
	display: flex;
	justify-content: space-around;
	align-items: center;
	color:#a8bec9;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 0 0.5rem ;
	transform: translateY(-4px);
	border-radius: 8px;
}
.turn .pushable{
	border-radius: 8px;
}
.turn .pushable:active .front{
	transform: translateY(-4px);
}
.restart{
	display: flex;
	justify-content: end;
	padding: 0 0.3rem;
	
}
.restart img{
	height: 2em;
}
.restart .pushable{
background: hsl(197 15% 50.2%);
width: fit-content;
aspect-ratio: 1;
border-radius: 8px;
}
.restart .front{
	color:black;
	background: hsl(200 23.4% 72.4%);
	padding: 0 0.5rem ;
	transform: translateY(-4px);
	border-radius: 8px;
	align-items: center;
}
.slot {
	aspect-ratio: 1;
	font-size: clamp(3rem,6vw,5rem);
	padding: 0 0.3rem;
	padding-top: 0.5rem;
	min-height: 0;
	
}
.pushable {
	background: hsl(201 46.7% 11.8%);
	border-radius: 12px;
	border: none;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	height: 100%;
	width: 100%;
}
.front {
	display: flex;
	height: 100%;
	border-radius: 12px;
	justify-content: center;
	background: hsl(200 34.7% 18.6%);
	color: #a8bec9;
	transform: translateY(-8px);
	align-content: center;
	padding: 0 1rem;
}

.pushable:active .front {
	transform: translateY(-2px);
}
.player1 {
	color: black;
	background-color: #31c4be;
}
.tie {
	color: black;
	background-color: #f3f4f4;
}
.player2{
	background-color: #f2b237;
	color:black
}
.stat{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding: 0.8rem 0;
	gap:0.5rem;
	font-size: 1.1rem;
}
.stat .score{
	font-size: 1.8rem;
	font-weight: bold;
}
.player1.stat{
	margin-left: 0.3rem;
}
.player2.stat{
	margin-right: 0.3rem;
}